.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 32px 48px;
  width: 100%;
  max-width: 480px;
  box-shadow: 8px 8px 24px 0px rgb(89, 86, 86)
   
}
.login-container > h1 {
margin-bottom: 20px;

}

.login-container > form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-container div{
  display: flex;
  flex-direction: column;
}

.login-container input{
width: 100%;
font-size: 20px;
padding: 10px;
border: none;
outline: none;
border-bottom: 1px solid black;
}

.login-container input::placeholder{
  font-size:12px;
}

.login-container button{
background-color: blue;
border: none;
font-size: 20px;
color: white;
border-radius: 5px;
padding: 10px;
cursor: pointer;
margin: 10px 0;

}
